<!DOCTYPE html>
<html lang="pt-br">
<%- include ('../partials/head')%>
    <body>
        <%- include ('../partials/header')%>
            <%- include ('../partials/sideBar')%>
                <!-- about -->
                <section class="about">
                    <div class="image">
                        <img src="../assets/images/about-img.png" alt="">
                    </div>

                    <div class="content">
                        <h3>Nossa história</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad officia neque dignissimos
                            laboriosam
                            molestiae adipisci quo iste, quae commodi iusto sunt recusandae, culpa eius inventore
                            laborum enim rem
                            illum quaerat.</p>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia obcaecati eos totam quod
                            eveniet amet
                            nostrum? Quas soluta corrupti tempore. Necessitatibus maxime beatae repudiandae? Soluta odio
                            eaque nobis
                            aliquam earum.</p>

                        <a href="#" class="btn">Saiba mais</a>
                    </div>
                </section>
                <!-- about -->
                <!-- faq -->
                <section class="faq">
                    <h1 class="heading">
                        duvidas & <span>respostas</span>
                    </h1>
                    <div class="detailsContainer">
                        <details class="details">
                            <summary>Como fazemos os websites?
                                <i class="fas fa-angle-down"></i>
                            </summary>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate esse fugiat magnam,
                                temporibus
                                atque
                                omnis nulla ad cumque officia hic!</p>
                        </details>
                        <details class="details">
                            <summary>Como fazer os pedidos online?
                                <i class="fas fa-angle-down"></i>
                            </summary>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate esse fugiat magnam,
                                temporibus
                                atque
                                omnis nulla ad cumque officia hic!</p>
                        </details>
                        <details class="details">
                            <summary>Como fazer os pagamentos online?
                                <i class="fas fa-angle-down"></i>
                            </summary>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate esse fugiat magnam,
                                temporibus
                                atque
                                omnis nulla ad cumque officia hic!</p>
                        </details>
                        <details class="details">
                            <summary>O pagamento online é seguro?
                                <i class="fas fa-angle-down"></i>
                            </summary>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate esse fugiat magnam,
                                temporibus
                                atque
                                omnis nulla ad cumque officia hic!</p>
                        </details>
                        <details class="details">
                            <summary>Como entrar em contato com o serviço de atendimento?
                                <i class="fas fa-angle-down"></i>
                            </summary>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate esse fugiat magnam,
                                temporibus
                                atque
                                omnis nulla ad cumque officia hic!</p>
                        </details>
                    </div>
                </section>
                <!-- faq -->
                <!-- reviews -->
                <section class="review">
                    <h1 class="heading">avaliações dos <span>clientes</span></h1>
                    <div class="swiper reviewsSlider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide slide">
                                <img src="../assets/images/pic-1.png" alt="">
                                <h3>Nome do cliente</h3>
                                <span>Profissão</span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis accusantium, magni
                                    ratione odio
                                    asperiores dignissimos laudantium a eveniet nostrum nisi!</p>
                            </div>

                            <div class="swiper-slide slide">
                                <img src="../assets/images/pic-2.png" alt="">
                                <h3>Nome do cliente</h3>
                                <span>Profissão</span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis accusantium, magni
                                    ratione odio
                                    asperiores dignissimos laudantium a eveniet nostrum nisi!</p>
                            </div>

                            <div class="swiper-slide slide">
                                <img src="../assets/images/pic-3.png" alt="">
                                <h3>Nome do cliente</h3>
                                <span>Profissão</span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis accusantium, magni
                                    ratione odio
                                    asperiores dignissimos laudantium a eveniet nostrum nisi!</p>
                            </div>

                            <div class="swiper-slide slide">
                                <img src="../assets/images/pic-4.png" alt="">
                                <h3>Nome do cliente</h3>
                                <span>Profissão</span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis accusantium, magni
                                    ratione odio
                                    asperiores dignissimos laudantium a eveniet nostrum nisi!</p>
                            </div>

                            <div class="swiper-slide slide">
                                <img src="../assets/images/pic-5.png" alt="">
                                <h3>Nome do cliente</h3>
                                <span>Profissão</span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis accusantium, magni
                                    ratione odio
                                    asperiores dignissimos laudantium a eveniet nostrum nisi!</p>
                            </div>

                            <div class="swiper-slide slide">
                                <img src="../assets/images/pic-6.png" alt="">
                                <h3>Nome do cliente</h3>
                                <span>Profissão</span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis accusantium, magni
                                    ratione odio
                                    asperiores dignissimos laudantium a eveniet nostrum nisi!</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- reviews -->
                <%- include ('../partials/footer')%>
                    <%- include ('../partials/scripts')%>
    </body>
</html>