<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head')%>
    <body>
        <%- include('../partials/header')%>
            <%- include('../partials/sideBar')%>

                <section class="shoppingCart">
                    <h1 class="heading">seus <span>produtos</span></h1>
                    <div class="boxContainer">
                        <div class="box">
                            <i class="fas fa-times"></i>
                            <img src="../assets/images/product-1.jpg" alt="">
                            <div class="content">
                                <h3>Produto</h3>
                                <form action="">
                                    <span>quantidade: </span>
                                    <input type="number" name="" id="" value="1">
                                </form>
                                <div class="price">$000,00 <span>$000,00</span></div>
                            </div>
                        </div>

                        <div class="box">
                            <i class="fas fa-times"></i>
                            <img src="../assets/images/product-2.jpg" alt="">
                            <div class="content">
                                <h3>Produto</h3>
                                <form action="">
                                    <span>quantidade: </span>
                                    <input type="number" name="" id="" value="1">
                                </form>
                                <div class="price">$000,00 <span>$000,00</span></div>
                            </div>
                        </div>

                        <div class="box">
                            <i class="fas fa-times"></i>
                            <img src="../assets/images/product-3.jpg" alt="">
                            <div class="content">
                                <h3>Produto</h3>
                                <form action="">
                                    <span>quantidade: </span>
                                    <input type="number" name="" id="" value="1">
                                </form>
                                <div class="price">$000,00 <span>$000,00</span></div>
                            </div>
                        </div>

                        <div class="box">
                            <i class="fas fa-times"></i>
                            <img src="../assets/images/product-4.jpg" alt="">
                            <div class="content">
                                <h3>Produto</h3>
                                <form action="">
                                    <span>quantidade: </span>
                                    <input type="number" name="" id="" value="1">
                                </form>
                                <div class="price">$000,00 <span>$000,00</span></div>
                            </div>
                        </div>

                        <div class="box">
                            <i class="fas fa-times"></i>
                            <img src="../assets/images/product-5.jpg" alt="">
                            <div class="content">
                                <h3>Produto</h3>
                                <form action="">
                                    <span>quantidade: </span>
                                    <input type="number" name="" id="" value="1">
                                </form>
                                <div class="price">$000,00 <span>$000,00</span></div>
                            </div>
                        </div>

                        <div class="box">
                            <i class="fas fa-times"></i>
                            <img src="../assets/images/product-6.jpg" alt="">
                            <div class="content">
                                <h3>Produto</h3>
                                <form action="">
                                    <span>quantidade: </span>
                                    <input type="number" name="" id="" value="1">
                                </form>
                                <div class="price">$000,00 <span>$000,00</span></div>
                            </div>
                        </div>

                        <div class="box">
                            <i class="fas fa-times"></i>
                            <img src="../assets/images/product-7.jpg" alt="">
                            <div class="content">
                                <h3>Produto</h3>
                                <form action="">
                                    <span>quantidade: </span>
                                    <input type="number" name="" id="" value="1">
                                </form>
                                <div class="price">$000,00 <span>$000,00</span></div>
                            </div>
                        </div>

                    </div>

                    <div class="cartTotal">
                        <h3>Valor total : <span>$0000,00</span></h3>
                        <h3>desconto : <span>$0000,00</span></h3>
                        <h3>Total : <span>$0000,00</span></h3>
                        <a href="#" class="btn">Finalizar compra</a>
                    </div>
                </section>
                <%- include('../partials/footer')%>
                    <%- include('../partials/scripts')%>
    </body>

</html>